
body
{
    background-color: #15202B; /* The page background will be black */
    color: white; /* The page text will be white */
}

.text
{
	margin-left: 15%;
	margin-right: 15%;
}

.brand
{
	color:#D8A529;
}

.brand:hover
{
	color:#D8A529;
}

.onglet
{
	color:#A57F22;
}

.onglet:hover
{
	color:#D8A529;
}

.centre
{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

.text
{
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 10%;
	margin-bottom: 4%;
	width: 92%;
}

footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	color: white;
	text-align: center;
}